body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
}

h1 {
    margin-bottom: 10px;
}

canvas {
    border: 2px solid white;
    background-color: black;
}

p {
    font-size: 20px;
    margin-top: 10px;
}
